<div class="nav mt-2 ml-2">
  <ul class="nav-item d-flex">
    <li class="nav-item active">
      <img src="{{foto}}"  width="60px" height="50px" class="img-fluid rounded-circle" alt="">
      <span class="nav-item font-weight-bold pl-3 font-usuario">{{nome}}</span>
    </li>
    <li class="nav-item pl-3">
      <a href="#">
        <p class="icone-nav mt-1">
          <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
        </p> 
      </a>
    </li>
  </ul>

    <ul class="ml-auto d-flex mt-2">
      <li class="nav-item">
        <a (click)="sair()"class="font-icon-nav">
          <span class="mr-3">
            <i class="fa fa-sign-out font-icon-nav mr-1" aria-hidden="true"></i>Sair
          </span>
        </a>
      </li>
    </ul>
</div>


