<section class="container-fluid">
    <div class="row">
        <div class="col-md-6" id="img-register"> </div>
            <div class="col-md-6 mt-5 mb-5">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-10">
                        <h1 class="text-center">Cadastre-se</h1>

                        <div class="form-group">
                            <label for="nome">Nome completo:</label>
                            <input [(ngModel)]='userLogin.nome' class="form-control" type="text" name="nome" id="nome" placeholder="Seu nome" >
                        </div>

                        <div class="form-group">
                            <label for="usuario">Usuário:</label>
                            <input [(ngModel)]='userLogin.nome' class="form-control" type="text" name="usuario" id="usuario" placeholder="Usuário">
                        </div>

                        <div class="form-group">
                            <label for="foto">Foto:</label>
                            <input [(ngModel)]='userLogin.foto' class="form-control" type="text" name="foto" id="foto" placeholder="Link da foto">
                        </div>

                        <div class="form-group">
                            <label for="senha">Senha:</label>
                            <input (input)='confirmarSenha($event)' class="form-control" type="password" name="senha" id="senha" placeholder="Sua senha">
                        </div>

                        <div class="form-group">
                            <label for="confirmarSenha">Confirmar senha:</label>
                            <input [(ngModel)]='userLogin.senha' class="form-control" type="password" name="confirmarSenha" id="confirmarSenha" placeholder="Confirme sua senha">
                        </div>

                        <div class="form-group">
                            <label for="tipo">Tipo de usuário:</label>
                            <select class="form-control" name="tipo" id="tipo" (change)='tipoUser($event)'>
                                <option value="">Selecione o tipo de usuário:</option>
                                <option value="normal">Normal</option>
                                <option value="admin">Administrador</option>
                            </select>
                        </div>

                        <div class="d-flex justify-content-center ">
                            <button type="submit" class="btn mt-3 mr-4 cancelar" routerLink='/login'>Cancelar</button>
                            <button type="submit" class="btn mt-3 cadastrar">Cadastrar</button>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</section>
